<a href="https://colab.research.google.com/github/ashishsaxena/aiml/blob/master/projects/heart-rate-prediction/heart_rate_regressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [9]:
data_dir = '/content/drive/My Drive/Colab Notebooks/projects/heart-rate-prediction/data'

In [13]:
fdf = pd.read_csv(f'{data_dir}/frequency_domain_features_train.csv')
fdf.sample(5)

                                        uuid          VLF  ...      LF_HF     HF_LF
299892  15d1698e-28e8-46f9-ae66-2fac97a90a9a  1319.804636  ...  12.176608  0.082125
144987  0ceb4c1c-15bc-4149-a7bc-54a34490bd63  3322.850864  ...  60.857816  0.016432
187552  437ee7f5-2394-428f-a412-72b7cc5f9ece   575.749493  ...  28.135680  0.035542
235487  74232cc2-f16d-401d-b396-7646292861b6   432.677453  ...   6.264333  0.159634
324760  d7ed47af-6430-4775-ab06-54e60605f293  1502.823017  ...  43.615646  0.022928

[5 rows x 12 columns]

In [14]:
hrf = pd.read_csv(f'{data_dir}/heart_rate_non_linear_features_train.csv')
hrf.sample(5)

                                        uuid  ...     condition
274129  148d5d54-b35b-412b-bbcc-e31b4de8bd28  ...  interruption
73303   9b3baf57-1146-4e42-8473-1f315a1f932f  ...  interruption
83725   b6327452-ad61-4342-856e-33599dd9e68b  ...     no stress
273148  369e06ca-6d05-4038-a646-8b575ed26ad2  ...     no stress
34068   54ef02ba-2aff-4c74-824c-df132d57cb69  ...  interruption

[5 rows x 7 columns]

In [15]:
tdf = pd.read_csv(f'{data_dir}/time_domain_features_train.csv')
tdf.sample(5)

           MEAN_RR  ...                                  uuid
328072  822.040652  ...  e0927aa6-85ca-44b7-8899-e5476adc2dd8
34579   732.374727  ...  2b15da22-7cf3-4e32-ae61-a84609141b1f
12913   789.792143  ...  096d1db2-dd1a-475e-96f0-099fcdf6f0f0
241736  914.091391  ...  e03b16f2-abc0-480d-a6fc-6dc72e505898
159361  934.975407  ...  582264d4-aab6-4bd3-a452-c4db18b9af4e

[5 rows x 20 columns]

In [16]:
sample_upload = pd.read_csv(f'{data_dir}/Hackathon sample submission.csv')
sample_upload.sample(5)

                                       uuid  HR
27080  e54203d4-5681-4d96-8d83-9c8357ed0a8b NaN
29799  47a18cfc-ba05-4a54-865d-a818cbc7c4e0 NaN
23020  3f24a173-170c-45c1-939b-3f6f548a1c6a NaN
17136  465e45f9-b458-4471-bbec-259efae15357 NaN
3181   3f2b6514-5884-4082-90b6-12953c30e164 NaN